<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.briup.apps.cms.dao.extend.ArticleExtendMapper">
  <resultMap id="ArticleExtendResultMap" 
 			 type="com.briup.apps.cms.bean.extend.ArticleExtend" 
 			 extends="com.briup.apps.cms.dao.ArticleMapper.BaseResultMap">
    <association property="category" column="category_id" 
    		select="com.briup.apps.cms.dao.CategoryMapper.selectByPrimaryKey"/>
    
    <collection property="comments" column="id" 
    		select="com.briup.apps.cms.dao.extend.CommentExtendMapper.selectByArticleId"/>
  </resultMap>
  
  <select id="selectAll" resultMap="ArticleExtendResultMap">
  		select * from cms_article
  </select>
  
  <select id="selectById" parameterType="long" resultMap="ArticleExtendResultMap">
  		select * from cms_article
  		where id = #{id}
  </select>
  
</mapper>








